[submodule "core"]
	path = core
	url = https://github.com/odoo/odoo.git
[submodule "l10n-brazil"]
	path = l10n-brazil
	url = https://github.com/OCA/l10n-brazil.git
[submodule "account-invoicing"]
	path = account-invoicing
	url = git@github.com:oca/account-invoicing.git
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:oca/stock-logistics-workflow.git
[submodule "muk_base"]
	path = muk_base
	url = git@github.com:muk-it/muk_base.git
[submodule "muk_web"]
	path = muk_web
	url = git@github.com:muk-it/muk_web.git
[submodule "dms"]
	path = dms
	url = git@github.com:oca/dms.git
[submodule "web"]
	path = web
	url = git@github.com:oca/web.git
[submodule "social"]
	path = social
	url = git@github.com:oca/social.git
[submodule "bank-statement-import"]
	path = bank-statement-import
	url = git@github.com:oca/bank-statement-import.git
[submodule "server-ux"]
	path = server-ux
	url = git@github.com:oca/server-ux.git
[submodule "account-reconcile"]
	path = account-reconcile
	url = git@github.com:oca/account-reconcile.git
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:oca/product-attribute.git
[submodule "stock-logistics-barcode"]
	path = stock-logistics-barcode
	url = git@github.com:oca/stock-logistics-barcode.git
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:oca/stock-logistics-warehouse.git
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:oca/purchase-workflow.git
[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:oca/sale-workflow.git
[submodule "pos"]
	path = pos
	url = git@github.com:oca/pos.git
[submodule "credit-control"]
	path = credit-control
	url = git@github.com:oca/credit-control.git
[submodule "account-payment"]
	path = account-payment
	url = git@github.com:oca/account-payment.git
[submodule "contract"]
	path = contract
	url = git@github.com:oca/contract.git
[submodule "sale-reporting"]
	path = sale-reporting
	url = git@github.com:oca/sale-reporting.git
[submodule "purchase-reporting"]
	path = purchase-reporting
	url = git@github.com:oca/purchase-reporting.git
